[Unit]
Description=Razer laptop control daemon

[Service]
Type=simple
ExecStart=%h/.local/share/razercontrol/daemon

[Install]
WantedBy=default.target

